<div class="container-fluid mb-3">
  <table class="tablaTemporadas">

    <thead>
      <tr>
        <th class="fondoTh">Temporada</th>
        <th class="fondoTh">Episodio</th>
        <th class="fondoTh">Usuario</th>
        <th class="fondoTh">Comentario</th>
        <th class="fondoTh">Valoracion</th>
        {{#if logueado}}
          {{#if_eq rol "Administrador"}}
            <th class="fondoTh"></th>
          {{/if_eq}}
        {{/if}}
      </tr>
    </thead>

    <tbody>

      {{#each comentarios}}
        <tr data-id={{id_comment}}>
          <td class="fondoTd">{{id_season}}</td>
          <td class="fondoTd">{{id_episode}}</td>
          <td class="fondoTd">{{name}}</td>
          <td class="fondoTd">{{comment}}</td>
          <td class="fondoTd">{{score}}</td>
          {{#if ../logueado}}
            {{#if_eq ../rol "Administrador"}}
              <td class="fondoTd"><button class="btn btn-primary fa fa-trash js-eliminar"></button></td>
            {{/if_eq}}
          {{/if}}
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>
